:root{
  --red: #ff3333;
  --blue: #3333ff;
  --yellow: #f0ff00;

  --blue-trans: #3333ffad;
  --red-trans: #9f212154;
  --red-trans-2: #9f2121db;
  --yellow-trans: #ffd900bf;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-wixmp-ed30a86b8c4ca887773594c2.wixmp.com%2Ff%2F26d947fb-61f5-4f5a-953f-64f52fb24301%2Fdh366zb-d91f2a78-aea4-4e99-8404-c50140784fb6.jpg%2Fv1%2Ffill%2Fw_1280%2Ch_718%2Cq_75%2Cstrp%2Fthe_amazing_digital_circus_background_2_by_legobuilder100_dh366zb-fullview.jpg%3Ftoken%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzE4IiwicGF0aCI6IlwvZlwvMjZkOTQ3ZmItNjFmNS00ZjVhLTk1M2YtNjRmNTJmYjI0MzAxXC9kaDM2NnpiLWQ5MWYyYTc4LWFlYTQtNGU5OS04NDA0LWM1MDE0MDc4NGZiNi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.MW2DJ4VcfKIOuZq4nXL_TZ-dE4xVVSa0n6t0R9yvMLA&f=1&nofb=1&ipt=32c4dbce3034a607d7e7646877180fa4202f9bf76ebaea4e0a3881559f0a331e");
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/tadc_circus_bg.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1{
  background: linear-gradient(to top, #ff3c00, #ffb700);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  text-shadow: 0px 0px 12px #ffb700;

  padding: 1em;
}
h2, h3, h4, p{
  color: var(--yellow);
}

nav{
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;

  justify-content: center;

  padding: 1em;
}
a {
  background-color: var(--blue-trans);
  border-radius: 12px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);;
  padding: 1em;

  text-decoration: none;
  color: var(--yellow);;

  transition: 0.4s ease;
}
a:hover{
  background-color: #2121c8cd;
}


/* App.jsx */
.posts{
  margin: 0 3em 0 3em;
}
.post{
  display: grid;
  grid-template-areas: 
  'title title title time' 
  'content content content content' 
  'upvotes upvotes button button';

  grid-gap: 0.6em;
}

.posts div{
  display: grid;

  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);;

  padding: 0em 1em 0.6em 1em;
  margin-bottom: 2em;

  background-color: var(--red-trans);
  color: var(--yellow);
}

.posts div .title{
  grid-area: title;

  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);;

  padding: 1em;
  margin: 1em 0 0 0;

  color: var(--yellow);
}
.posts div .time{
  grid-area: time;

  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);;

  align-content: center;

  padding: 1em;
  margin: 1em 0 0 0;
  font-size: 20px;
}
.posts div .content{
  grid-area: content;

  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);;

  padding: 1em;
  margin: 1em 0 0 0;
}
.posts div .upvotes{
  text-align: center;
}

/* View Full Post BTN */
.post .button{
  grid-area: button;

  padding: 1em;
  margin: 1em 0 0 0;
}


.create-post-container{
  display: grid;
  grid-gap: 1em;
  margin: 1em 3em 1em 3em;
}
#post-title{
  padding: 0.6em;
}
#post-content{
  height: 320px;
  padding: 0.6em;

  direction:ltr;
}
/* #post-content::placeholder{
  align-items: flex-start;
} */
#post-img{
  padding: 0.6em;
}

.button-container{
  margin: 1em 3em 1em 3em;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10em;
}



/* FullPost.jsx */
.full-post{
  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);;

  /* padding: 1em; */
  margin: 1em 3em 1em 3em;

  display: grid;
  grid-template-areas: 
  'title title title time' 
  'image image image image'
  'content content content content' 
  'button button button button';

  grid-gap: 0.6em;

  overflow: hidden;
}
.full-post #post-title{
  grid-area: title;

  margin: 0;
  padding: 1em;
  align-content: center;
  text-align: left;
}
.full-post #post-time{
  margin: 0;
  padding: 1em;
  align-content: center;

  text-align: right;
}
.full-post #post-content{
  grid-area: content;
  height: 100%;
  padding: 1em;

  direction:ltr;
}
.full-post img{
  grid-area: image;
  width: 100%;
  /* max-width: 640px; */
  align-items: center;
}
.full-post .button-container{
  grid-area: button;
  padding-bottom: 1em;
}
.full-post .button-container div a{
  margin: 1em;
}

.upvotes-btn{
  border-radius: 12px;
  background-color: var(--red);
}



/* COMMENT SECTION */
.comment{
  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);;

  margin: 1em 3em 1em 3em;
  padding: 1em;
}
.comment .time{
  text-align: right;
  margin-left: 4em;
  margin-right: 4em;
}
.comment .content{
  text-align: left;
  margin-left: 4em;
  margin-right: 4em;
}

.create-comment{
  display: grid;
  grid-template-columns: auto;

  margin: 1em 3em 1em 3em;
  padding: 1em;
}
#comment-content{
  height: 320px;
  padding: 0.6em;

  direction:ltr;
}


/* FILTER BUTTONS */
.filter-btns{
  margin: 1em 3em 1em 3em;
  display: grid;
  grid-template-columns: 25% auto;
  gap: 2em;
}
.upvote-search-btn{
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);
  border-radius: 12px;

  color: var(--blue);
  background-color: var(--yellow-trans);

  padding: 1em;

  transition: 0.4s ease;
}
/* .rainbow:hover {
  -webkit-animation:rainbow 2s infinite;
  -ms-animation:rainbow 2s infinite;
  -o-animation:rainbow 2s infinite;
  animation:rainbow 2s infinite;
}
@-webkit-keyframes rainbow {
  0% {background-color: #ff0000;}
  20% {background-color: #ff8000;}
  40% {background-color: #ffff00;}
  60% {background-color: #0080ff;}
  80% {background-color: #0000ff;}
  100% {background-color: #ff0080;}
  }
  @-ms-keyframes rainbow {
  0% {background-color: #ff0000;}
  20% {background-color: #ff8000;}
  40% {background-color: #ffff00;}
  60% {background-color: #0080ff;}
  80% {background-color: #0000ff;}
  100% {background-color: #ff0080;}
  }
  @-o-keyframes rainbow {
  0% {background-color: #ff0000;}
  20% {background-color: #ff8000;}
  40% {background-color: #ffff00;}
  60% {background-color: #0080ff;}
  80% {background-color: #0000ff;}
  100% {background-color: #ff0080;}
  }
  @keyframes rainbow {
  0% {background-color: #ff0000;}
  20% {background-color: #ff8000;}
  40% {background-color: #ffff00;}
  60% {background-color: #0080ff;}
  80% {background-color: #0000ff;}
  100% {background-color: #ff0080;}
} */

.upvote-search-btn:hover{
  background-color: #ff8400bf;
}
#search{
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--yellow);
  border-radius: 12px;

  color: var(--blue);
  background-color: var(--yellow-trans);

  padding: 1em;
}